<% layout('layouts/boilerplate.ejs') %>
<h2>Change Password</h2>
<form class="change-pass" action="" method="post">
    <div>
        <label for="">Old Password: </label>
        <input type="password" name="" id="" class="pass">
    </div>
    <div>
        <label for="">New Password: </label>
        <input type="password" name="" id="" class="pass">
    </div>
    <div>
        <label for="">Re-enter New Password: </label>
        <input type="password" name="" id="" class="pass">
    </div>
    <div>
        <input type="checkbox" name="" id="show-pass" onclick="myFunction()">
        <label for=""> Show Password</label>
    </div>
    <div class="login-button-container">
        <button type="submit" name="button" class="btn login-btn">Submit</button>
    </div>
</form>
<script>
function myFunction() {
    var x = document.querySelectorAll(".pass");
    for(let i of x) {
        if (i.type === "password") {
        i.type = "text";
        } else {
            i.type = "password";
        }
    }
}
</script>