<% layout('layouts/boilerplate.ejs') %>
<form action="" method="post">
    <div>
        <label for="">Old Password: </label>
        <input type="password" name="" id="">
    </div>
    <div>
        <label for="">New Password: </label>
        <input type="password" name="" id="">
    </div>
    <div>
        <label for="">Re-enter New Password: </label>
        <input type="password" name="" id="">
    </div>
    <div>
        <input type="checkbox" name="" id="">
        <label for=""> Show Password</label>
    </div>
</form>