<div class="login-screen">
    <div class="login-close"><a href="#"><i class="far fa-times-circle"></i></a></div>
    <div class="login-container">
        <div class="login-main">
            <div class="login-logo-container">
                <div class="login-logo">
                    <img src="/assets/images/nalco_logo.jpg" class="nalco-logo" alt="nalco_logo">
                </div>
            </div>
            <div class="login-form-container">
                <form action="" class="login-form">
                    <div class="username-container">
                        <div class="user-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <input type="text" name="username" class="form-control input-user" value="" placeholder="username">
                    </div>
                    <div class="password-container">
                        <div class="key-icon">
                            <i class="fas fa-key"></i>
                        </div>
                        <input type="password" name="password" class="form-control input-password" value="" placeholder="password">
                    </div>
                    <div class="check-container">
                        <input type="checkbox" name="remember-checkbox" class="remember-checkbox" id="customControlInline" checked>
                        <label class="remember-checkbox-label" for="customControlInline">Remember me</label>
                    </div>
                    <div class="login-button-container">
                        <button class="btn login-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>