<% layout('layouts/boilerplate.ejs') %>
<form action="" class="shift-sch-frm">
    <table>
        <thead class="schd-head">
            <tr class="row-1">
                <th class="cell-1" colspan="2">Shift Scheduler</th>
            </tr>
            <tr class="row-2">
                <th class="cell-1">Date</th>
                <th class="cell-2">Shift</th>
            </tr>
        </thead>
        <tbody class="schd-body">
            <% for( let index = 3, i = 1; index < 34; index++, i++ ) { %>
                <tr class="row-<%= index %>">
                    <td class="cell-1"></td>
                    <td class="cell-2">
                        <i style="display: none;"><input type="text" name=""></i><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label>
                    </td>
                </tr>
            <% } %>
            <tr class="row-3">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-4">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-5">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-6">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-7">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-8">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-9">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-10">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-11">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-12">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-13">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-14">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-15">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-16">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-17">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-18">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-19">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-20">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-21">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-22">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-23">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-24">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-25">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-26">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-27">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-28">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-29">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-30">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-31">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-32">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
            <tr class="row-33">
                <td class="cell-1"></td>
                <td class="cell-2"><input type="checkbox" name="" id="" class="shiftA"><label for="" class="label-shiftA">A</label><input type="checkbox" name="" id="" class="shiftB"><label for="" class="label-shiftB">B</label><input type="checkbox" name="" id="" class="shiftC"><label for="" class="label-shiftC">C</label><input type="checkbox" name="" id="" class="shiftG"><label for="" class="label-shiftG">G</label><input type="checkbox" name="" id="" class="shiftWO"><label for="" class="label-shiftWO">WO/LV</label><input type="checkbox" name="" id="" class="shiftM"><label for="" class="label-shiftM">M</label><input type="checkbox" name="" id="" class="shiftN"><label for="" class="label-shiftN">N</label></td>
            </tr>
        </tbody>
    </table>
    <div class="login-button-container">
        <button type="button" name="button" class="btn login-btn">Submit</button>
    </div>
</form>