<div class="sidebar-content">
    <div class="sidebar">
        <ul class="sidebar-section">
            <li class="sidebar-item"><a href="">Messages</a></li>
            <li class="sidebar-item"><a href="">Friends</a></li>
            <li class="sidebar-item"><a href="">User Profile</a></li>
        </ul>
    </div>
</div>