<% layout('layouts/boilerplate.ejs') %>
<form class="ftp-report-container">
    <h1>FTP and Alumina Handling Shift End Report</h1>

    <div class="form-section">
        <div>
            <span id="shift-date"><strong>Date:</strong> 15/09/2024</span
            >&nbsp;<span id="shift"><strong> Shift:</strong> A</span>
        </div>
    </div>

    <div class="section-title">FTP Process Parameters</div>
    <table>
        <tr>
            <th>Parameter</th>
            <th>FTP-1</th>
            <th>FTP-2</th>
            <th>FTP-3</th>
            <th>FTP-4</th>
            <th>FTP-5</th>
            <th>FTP-6</th>
            <th>GTC-7</th>
            <th>GTC-8</th>
        </tr>
        <tr>
            <td>Bag Pressure - Minimum (mmwc)</td>
            <td>
                <input type="number" name="ftp1-1-val" id="ftp1-1-val" />
            </td>
            <td>
                <input type="number" name="ftp2-1-val" id="ftp2-1-val" />
            </td>
            <td>
                <input type="number" name="ftp3-1-val" id="ftp3-1-val" />
            </td>
            <td>
                <input type="number" name="ftp4-1-val" id="ftp4-1-val" />
            </td>
            <td>
                <input type="number" name="ftp5-1-val" id="ftp5-1-val" />
            </td>
            <td>
                <input type="number" name="ftp6-1-val" id="ftp6-1-val" />
            </td>
            <td>
                <input type="number" name="gtc7-1-val" id="gtc7-1-val" />
            </td>
            <td>
                <input type="number" name="gtc8-1-val" id="gtc8-1-val" />
            </td>
        </tr>
        <tr>
            <td>Bag Pressure - Maximum (mmwc)</td>
            <td>
                <input type="number" name="ftp1-2-val" id="ftp1-2-val" />
            </td>
            <td>
                <input type="number" name="ftp2-2-val" id="ftp2-2-val" />
            </td>
            <td>
                <input type="number" name="ftp3-2-val" id="ftp3-2-val" />
            </td>
            <td>
                <input type="number" name="ftp4-2-val" id="ftp4-2-val" />
            </td>
            <td>
                <input type="number" name="ftp5-2-val" id="ftp5-2-val" />
            </td>
            <td>
                <input type="number" name="ftp6-2-val" id="ftp6-2-val" />
            </td>
            <td>
                <input type="number" name="gtc7-2-val" id="gtc7-2-val" />
            </td>
            <td>
                <input type="number" name="gtc8-2-val" id="gtc8-2-val" />
            </td>
        </tr>
        <tr>
            <td>No. of Filter House in Operation</td>
            <td>
                <input type="number" name="ftp1-3-val" id="ftp1-3-val" />
            </td>
            <td>
                <input type="number" name="ftp2-3-val" id="ftp2-3-val" />
            </td>
            <td>
                <input type="number" name="ftp3-3-val" id="ftp3-3-val" />
            </td>
            <td>
                <input type="number" name="ftp4-3-val" id="ftp4-3-val" />
            </td>
            <td>
                <input type="number" name="ftp5-3-val" id="ftp5-3-val" />
            </td>
            <td>
                <input type="number" name="ftp6-3-val" id="ftp6-3-val" />
            </td>
            <td>
                <input type="number" name="gtc7-3-val" id="gtc7-3-val" />
            </td>
            <td>
                <input type="number" name="gtc8-3-val" id="gtc8-3-val" />
            </td>
        </tr>
        <tr>
            <td>Inlet Temperature (°C)</td>
            <td>
                <input type="number" name="ftp1-4-val" id="ftp1-4-val" />
            </td>
            <td>
                <input type="number" name="ftp2-4-val" id="ftp2-4-val" />
            </td>
            <td>
                <input type="number" name="ftp3-4-val" id="ftp3-4-val" />
            </td>
            <td>
                <input type="number" name="ftp4-4-val" id="ftp4-4-val" />
            </td>
            <td>
                <input type="number" name="ftp5-4-val" id="ftp5-4-val" />
            </td>
            <td>
                <input type="number" name="ftp6-4-val" id="ftp6-4-val" />
            </td>
            <td>
                <input type="number" name="gtc7-4-val" id="gtc7-4-val" />
            </td>
            <td>
                <input type="number" name="gtc8-4-val" id="gtc8-4-val" />
            </td>
        </tr>
        <tr>
            <td>Inlet Pressure (mmwc)</td>
            <td>
                <input type="number" name="ftp1-5-val" id="ftp1-5-val" />
            </td>
            <td>
                <input type="number" name="ftp2-5-val" id="ftp2-5-val" />
            </td>
            <td>
                <input type="number" name="ftp3-5-val" id="ftp3-5-val" />
            </td>
            <td>
                <input type="number" name="ftp4-5-val" id="ftp4-5-val" />
            </td>
            <td>
                <input type="number" name="ftp5-5-val" id="ftp5-5-val" />
            </td>
            <td>
                <input type="number" name="ftp6-5-val" id="ftp6-5-val" />
            </td>
            <td>
                <input type="number" name="gtc7-5-val" id="gtc7-5-val" />
            </td>
            <td>
                <input type="number" name="gtc8-5-val" id="gtc8-5-val" />
            </td>
        </tr>
        <tr>
            <td>Outlet Pressure (mmwc)</td>
            <td>
                <input type="number" name="ftp1-6-val" id="ftp1-6-val" />
            </td>
            <td>
                <input type="number" name="ftp2-6-val" id="ftp2-6-val" />
            </td>
            <td>
                <input type="number" name="ftp3-6-val" id="ftp3-6-val" />
            </td>
            <td>
                <input type="number" name="ftp4-6-val" id="ftp4-6-val" />
            </td>
            <td>
                <input type="number" name="ftp5-6-val" id="ftp5-6-val" />
            </td>
            <td>
                <input type="number" name="ftp6-6-val" id="ftp6-6-val" />
            </td>
            <td>
                <input type="number" name="gtc7-6-val" id="gtc7-6-val" />
            </td>
            <td>
                <input type="number" name="gtc8-6-val" id="gtc8-6-val" />
            </td>
        </tr>
        <tr>
            <td>Differential Pressure (mmwc)</td>
            <td>
                <input type="number" name="ftp1-7-val" id="ftp1-7-val" />
            </td>
            <td>
                <input type="number" name="ftp2-7-val" id="ftp2-7-val" />
            </td>
            <td>
                <input type="number" name="ftp3-7-val" id="ftp3-7-val" />
            </td>
            <td>
                <input type="number" name="ftp4-7-val" id="ftp4-7-val" />
            </td>
            <td>
                <input type="number" name="ftp5-7-val" id="ftp5-7-val" />
            </td>
            <td>
                <input type="number" name="ftp6-7-val" id="ftp6-7-val" />
            </td>
            <td>
                <input type="number" name="gtc7-7-val" id="gtc7-7-val" />
            </td>
            <td>
                <input type="number" name="gtc8-7-val" id="gtc8-7-val" />
            </td>
        </tr>
        <tr>
            <td>Pulsing Pressure Maximum (kg/cm2)</td>
            <td>
                <input type="number" name="ftp1-8-val" id="ftp1-8-val" />
            </td>
            <td>
                <input type="number" name="ftp2-8-val" id="ftp2-8-val" />
            </td>
            <td>
                <input type="number" name="ftp3-8-val" id="ftp3-8-val" />
            </td>
            <td>
                <input type="number" name="ftp4-8-val" id="ftp4-8-val" />
            </td>
            <td>
                <input type="number" name="ftp5-8-val" id="ftp5-8-val" />
            </td>
            <td>
                <input type="number" name="ftp6-8-val" id="ftp6-8-val" />
            </td>
            <td>
                <input type="number" name="gtc7-8-val" id="gtc7-8-val" />
            </td>
            <td>
                <input type="number" name="gtc8-8-val" id="gtc8-8-val" />
            </td>
        </tr>
        <tr>
            <td>Pulsing Interval (seconds)</td>
            <td>
                <input type="number" name="ftp1-9-val" id="ftp1-9-val" />
            </td>
            <td>
                <input type="number" name="ftp2-9-val" id="ftp2-9-val" />
            </td>
            <td>
                <input type="number" name="ftp3-9-val" id="ftp3-9-val" />
            </td>
            <td>
                <input type="number" name="ftp4-9-val" id="ftp4-9-val" />
            </td>
            <td>
                <input type="number" name="ftp5-9-val" id="ftp5-9-val" />
            </td>
            <td>
                <input type="number" name="ftp6-9-val" id="ftp6-9-val" />
            </td>
            <td>
                <input type="number" name="gtc7-9-val" id="gtc7-9-val" />
            </td>
            <td>
                <input type="number" name="gtc8-9-val" id="gtc8-9-val" />
            </td>
        </tr>
        <tr>
            <td>Pulsing Duration (milli seconds)</td>
            <td>
                <input type="number" name="ftp1-10-val" id="ftp1-10-val" />
            </td>
            <td>
                <input type="number" name="ftp2-10-val" id="ftp2-10-val" />
            </td>
            <td>
                <input type="number" name="ftp3-10-val" id="ftp3-10-val" />
            </td>
            <td>
                <input type="number" name="ftp4-10-val" id="ftp4-10-val" />
            </td>
            <td>
                <input type="number" name="ftp5-10-val" id="ftp5-10-val" />
            </td>
            <td>
                <input type="number" name="ftp6-10-val" id="ftp6-10-val" />
            </td>
            <td>
                <input type="number" name="gtc7-10-val" id="gtc7-10-val" />
            </td>
            <td>
                <input type="number" name="gtc8-10-val" id="gtc8-10-val" />
            </td>
        </tr>
        <tr>
            <td>Number of S/C running</td>
            <td>
                <input type="number" name="ftp1-11-val" id="ftp1-11-val" />
            </td>
            <td>
                <input type="number" name="ftp2-11-val" id="ftp2-11-val" />
            </td>
            <td>
                <input type="number" name="ftp3-11-val" id="ftp3-11-val" />
            </td>
            <td>
                <input type="number" name="ftp4-11-val" id="ftp4-11-val" />
            </td>
            <td>
                <input type="number" name="ftp5-11-val" id="ftp5-11-val" />
            </td>
            <td>
                <input type="number" name="ftp6-11-val" id="ftp6-11-val" />
            </td>
            <td>
                <input type="number" name="gtc7-11-val" id="gtc7-11-val" />
            </td>
            <td>
                <input type="number" name="gtc8-11-val" id="gtc8-11-val" />
            </td>
        </tr>
        <tr>
            <td>Recirculation Frequency -Minimum(Hz)</td>
            <td>
                <input type="number" name="ftp1-12-val" id="ftp1-12-val" />
            </td>
            <td>
                <input type="number" name="ftp2-12-val" id="ftp2-12-val" />
            </td>
            <td>
                <input type="number" name="ftp3-12-val" id="ftp3-12-val" />
            </td>
            <td>
                <input type="number" name="ftp4-12-val" id="ftp4-12-val" />
            </td>
            <td>
                <input type="number" name="ftp5-12-val" id="ftp5-12-val" />
            </td>
            <td>
                <input type="number" name="ftp6-12-val" id="ftp6-12-val" />
            </td>
            <td>
                <input type="number" name="gtc7-12-val" id="gtc7-12-val" />
            </td>
            <td>
                <input type="number" name="gtc8-12-val" id="gtc8-12-val" />
            </td>
        </tr>
        <tr>
            <td>Recirculation Frequency -Maximum(Hz)</td>
            <td>
                <input type="number" name="ftp1-13-val" id="ftp1-13-val" />
            </td>
            <td>
                <input type="number" name="ftp2-13-val" id="ftp2-13-val" />
            </td>
            <td>
                <input type="number" name="ftp3-13-val" id="ftp3-13-val" />
            </td>
            <td>
                <input type="number" name="ftp4-13-val" id="ftp4-13-val" />
            </td>
            <td>
                <input type="number" name="ftp5-13-val" id="ftp5-13-val" />
            </td>
            <td>
                <input type="number" name="ftp6-13-val" id="ftp6-13-val" />
            </td>
            <td>
                <input type="number" name="gtc7-13-val" id="gtc7-13-val" />
            </td>
            <td>
                <input type="number" name="gtc8-13-val" id="gtc8-13-val" />
            </td>
        </tr>
        <tr>
            <td>Fresh Alumina Flow(mbar/CV/Feed rate)</td>
            <td>
                <input type="number" name="ftp1-14-val" id="ftp1-14-val" />
            </td>
            <td>
                <input type="number" name="ftp2-14-val" id="ftp2-14-val" />
            </td>
            <td>
                <input type="number" name="ftp3-14-val" id="ftp3-14-val" />
            </td>
            <td>
                <input type="number" name="ftp4-14-val" id="ftp4-14-val" />
            </td>
            <td>
                <input type="number" name="plc5-14-val" id="plc5-14-val" />
            </td>
            <td>
                <input type="number" name="plc4-14-val" id="plc4-14-val" />
            </td>
            <td>
                <input type="number" name="gtc7-14-val" id="gtc7-14-val" />
            </td>
            <td>
                <input type="number" name="gtc8-14-val" id="gtc8-14-val" />
            </td>
        </tr>
        <tr>
            <td>Secondary Silo level (Meter or MT)</td>
            <td>
                <input type="number" name="ftp1-15-val" id="ftp1-15-val" />
            </td>
            <td>
                <input type="number" name="ftp2-15-val" id="ftp2-15-val" />
            </td>
            <td>
                <input type="number" name="ftp3-15-val" id="ftp3-15-val" />
            </td>
            <td>
                <input type="number" name="ftp4-15-val" id="ftp4-15-val" />
            </td>
            <td>
                <input type="number" name="ftp5-15-val" id="ftp5-15-val" />
            </td>
            <td>
                <input type="number" name="ftp6-15-val" id="ftp6-15-val" />
            </td>
            <td>
                <input type="number" name="gtc7-15-val" id="gtc7-15-val" />
            </td>
            <td>
                <input type="number" name="gtc8-15-val" id="gtc8-15-val" />
            </td>
        </tr>
        <tr>
            <td>Hopper Blower Pressure (mmwc)</td>
            <td>
                <input type="number" name="ftp1-16-val" id="ftp1-16-val" />
            </td>
            <td>
                <input type="number" name="ftp2-16-val" id="ftp2-16-val" />
            </td>
            <td>
                <input type="number" name="ftp3-16-val" id="ftp3-16-val" />
            </td>
            <td>
                <input type="number" name="ftp4-16-val" id="ftp4-16-val" />
            </td>
            <td>
                <input type="number" name="ftp5-16-val" id="ftp5-16-val" />
            </td>
            <td>
                <input type="number" name="ftp6-16-val" id="ftp6-16-val" />
            </td>
            <td>
                <input type="number" name="gtc7-16-val" id="gtc7-16-val" />
            </td>
            <td>
                <input type="number" name="gtc8-16-val" id="gtc8-16-val" />
            </td>
        </tr>
        <tr>
            <td>Sec. Air Lift Blower Pressure(mmwc)</td>
            <td>
                <input type="number" name="ftp1-17-val" id="ftp1-17-val" />
            </td>
            <td>
                <input type="number" name="ftp2-17-val" id="ftp2-17-val" />
            </td>
            <td>
                <input type="number" name="ftp3-17-val" id="ftp3-17-val" />
            </td>
            <td>
                <input type="number" name="ftp4-17-val" id="ftp4-17-val" />
            </td>
            <td>
                <input type="number" name="ftp5-17-val" id="ftp5-17-val" />
            </td>
            <td>
                <input type="number" name="ftp6-17-val" id="ftp6-17-val" />
            </td>
            <td>
                <input type="number" name="gtc7-17-val" id="gtc7-17-val" />
            </td>
            <td>
                <input type="number" name="gtc8-17-val" id="gtc8-17-val" />
            </td>
        </tr>
        <tr>
            <td>Sec. Air slide Fan Pressure (mmwc)</td>
            <td>
                <input type="number" name="ftp1-18-val" id="ftp1-18-val" />
            </td>
            <td>
                <input type="number" name="ftp2-18-val" id="ftp2-18-val" />
            </td>
            <td>
                <input type="number" name="ftp3-18-val" id="ftp3-18-val" />
            </td>
            <td>
                <input type="number" name="ftp4-18-val" id="ftp4-18-val" />
            </td>
            <td>
                <input type="number" name="ftp5-18-val" id="ftp5-18-val" />
            </td>
            <td>
                <input type="number" name="ftp6-18-val" id="ftp6-18-val" />
            </td>
            <td>
                <input type="number" name="gtc7-18-val" id="gtc7-18-val" />
            </td>
            <td>
                <input type="number" name="gtc8-18-val" id="gtc8-18-val" />
            </td>
        </tr>
        <tr>
            <td>Vibrating Screen running status</td>
            <td>
                <input type="number" name="ftp1-19-val" id="ftp1-19-val" />
            </td>
            <td>
                <input type="number" name="ftp2-19-val" id="ftp2-19-val" />
            </td>
            <td>
                <input type="number" name="ftp3-19-val" id="ftp3-19-val" />
            </td>
            <td>
                <input type="number" name="ftp4-19-val" id="ftp4-19-val" />
            </td>
            <td>
                <input type="number" name="ftp5-19-val" id="ftp5-19-val" />
            </td>
            <td>
                <input type="number" name="ftp6-19-val" id="ftp6-19-val" />
            </td>
            <td>
                <input type="number" name="gtc7-19-val" id="gtc7-19-val" />
            </td>
            <td>
                <input type="number" name="gtc8-19-val" id="gtc8-19-val" />
            </td>
        </tr>
        <tr>
            <td>Compressor running status</td>
            <td>
                <input type="number" name="ftp1-20-val" id="ftp1-20-val" />
            </td>
            <td>
                <input type="number" name="ftp2-20-val" id="ftp2-20-val" />
            </td>
            <td>
                <input type="number" name="ftp3-20-val" id="ftp3-20-val" />
            </td>
            <td>
                <input type="number" name="ftp4-20-val" id="ftp4-20-val" />
            </td>
            <td>
                <input type="number" name="ftp5-20-val" id="ftp5-20-val" />
            </td>
            <td>
                <input type="number" name="ftp6-20-val" id="ftp6-20-val" />
            </td>
            <td>
                <input type="number" name="gtc7-20-val" id="gtc7-20-val" />
            </td>
            <td>
                <input type="number" name="gtc8-20-val" id="gtc8-20-val" />
            </td>
        </tr>
        <tr>
            <td>Compressor running Hours</td>
            <td>
                <input type="number" name="ftp1-21-val" id="ftp1-21-val" />
            </td>
            <td>
                <input type="number" name="ftp2-21-val" id="ftp2-21-val" />
            </td>
            <td>
                <input type="number" name="ftp3-21-val" id="ftp3-21-val" />
            </td>
            <td>
                <input type="number" name="ftp4-21-val" id="ftp4-21-val" />
            </td>
            <td>
                <input type="number" name="ftp5-21-val" id="ftp5-21-val" />
            </td>
            <td>
                <input type="number" name="ftp6-21-val" id="ftp6-21-val" />
            </td>
            <td>
                <input type="number" name="gtc7-21-val" id="gtc7-21-val" />
            </td>
            <td>
                <input type="number" name="gtc8-21-val" id="gtc8-21-val" />
            </td>
        </tr>
        <tr>
            <td>Number of MEF in Operation</td>
            <td>
                <input type="number" name="ftp1-22-val" id="ftp1-22-val" />
            </td>
            <td>
                <input type="number" name="ftp2-22-val" id="ftp2-22-val" />
            </td>
            <td>
                <input type="number" name="ftp3-22-val" id="ftp3-22-val" />
            </td>
            <td>
                <input type="number" name="ftp4-22-val" id="ftp4-22-val" />
            </td>
            <td>
                <input type="number" name="ftp5-22-val" id="ftp5-22-val" />
            </td>
            <td>
                <input type="number" name="ftp6-22-val" id="ftp6-22-val" />
            </td>
            <td>
                <input type="number" name="gtc7-22-val" id="gtc7-22-val" />
            </td>
            <td>
                <input type="number" name="gtc8-22-val" id="gtc8-22-val" />
            </td>
        </tr>
        <tr>
            <td>Avg. current of MEFs (Ampere)</td>
            <td>
                <input type="number" name="ftp1-23-val" id="ftp1-23-val" />
            </td>
            <td>
                <input type="number" name="ftp2-23-val" id="ftp2-23-val" />
            </td>
            <td>
                <input type="number" name="ftp3-23-val" id="ftp3-23-val" />
            </td>
            <td>
                <input type="number" name="ftp4-23-val" id="ftp4-23-val" />
            </td>
            <td>
                <input type="number" name="ftp5-23-val" id="ftp5-23-val" />
            </td>
            <td>
                <input type="number" name="ftp6-23-val" id="ftp6-23-val" />
            </td>
            <td>
                <input type="number" name="gtc7-23-val" id="gtc7-23-val" />
            </td>
            <td>
                <input type="number" name="gtc8-23-val" id="gtc8-23-val" />
            </td>
        </tr>
    </table>

    <div class="section-title">HF and Dust</div>
    <table>
        <tr>
            <th>Parameter</th>
            <th>FTP-1</th>
            <th>FTP-2</th>
            <th>FTP-3</th>
            <th>FTP-4</th>
            <th>FTP-5</th>
            <th>FTP-6</th>
            <th>GTC-7</th>
            <th>GTC-8</th>
        </tr>
        <tr>
            <td>Average HF MG/NM3</td>
            <td>
                <input type="number" name="ftp1-24-val" id="ftp1-24-val" />
            </td>
            <td>
                <input type="number" name="ftp2-24-val" id="ftp2-24-val" />
            </td>
            <td>
                <input type="number" name="ftp3-24-val" id="ftp3-24-val" />
            </td>
            <td>
                <input type="number" name="ftp4-24-val" id="ftp4-24-val" />
            </td>
            <td>
                <input type="number" name="ftp5-24-val" id="ftp5-24-val" />
            </td>
            <td>
                <input type="number" name="ftp6-24-val" id="ftp6-24-val" />
            </td>
            <td>
                <input type="number" name="gtc7-24-val" id="gtc7-24-val" />
            </td>
            <td>
                <input type="number" name="gtc8-24-val" id="gtc8-24-val" />
            </td>
        </tr>
        <tr>
            <td>Maximum HF MG/NM3</td>
            <td>
                <input type="number" name="ftp1-25-val" id="ftp1-25-val" />
            </td>
            <td>
                <input type="number" name="ftp2-25-val" id="ftp2-25-val" />
            </td>
            <td>
                <input type="number" name="ftp3-25-val" id="ftp3-25-val" />
            </td>
            <td>
                <input type="number" name="ftp4-25-val" id="ftp4-25-val" />
            </td>
            <td>
                <input type="number" name="ftp5-25-val" id="ftp5-25-val" />
            </td>
            <td>
                <input type="number" name="ftp6-25-val" id="ftp6-25-val" />
            </td>
            <td>
                <input type="number" name="gtc7-25-val" id="gtc7-25-val" />
            </td>
            <td>
                <input type="number" name="gtc8-25-val" id="gtc8-25-val" />
            </td>
        </tr>
        <tr>
            <td>Duration HF more than 2 MG/NM3</td>
            <td>
                <input type="number" name="ftp1-26-val" id="ftp1-26-val" />
            </td>
            <td>
                <input type="number" name="ftp2-26-val" id="ftp2-26-val" />
            </td>
            <td>
                <input type="number" name="ftp3-26-val" id="ftp3-26-val" />
            </td>
            <td>
                <input type="number" name="ftp4-26-val" id="ftp4-26-val" />
            </td>
            <td>
                <input type="number" name="ftp5-26-val" id="ftp5-26-val" />
            </td>
            <td>
                <input type="number" name="ftp6-26-val" id="ftp6-26-val" />
            </td>
            <td>
                <input type="number" name="gtc7-26-val" id="gtc7-26-val" />
            </td>
            <td>
                <input type="number" name="gtc8-26-val" id="gtc8-26-val" />
            </td>
        </tr>
        <tr>
            <td>Duration HF more than 5 MG/NM3</td>
            <td>
                <input type="number" name="ftp1-27-val" id="ftp1-27-val" />
            </td>
            <td>
                <input type="number" name="ftp2-27-val" id="ftp2-27-val" />
            </td>
            <td>
                <input type="number" name="ftp3-27-val" id="ftp3-27-val" />
            </td>
            <td>
                <input type="number" name="ftp4-27-val" id="ftp4-27-val" />
            </td>
            <td>
                <input type="number" name="ftp5-27-val" id="ftp5-27-val" />
            </td>
            <td>
                <input type="number" name="ftp6-27-val" id="ftp6-27-val" />
            </td>
            <td>
                <input type="number" name="gtc7-27-val" id="gtc7-27-val" />
            </td>
            <td>
                <input type="number" name="gtc8-27-val" id="gtc8-27-val" />
            </td>
        </tr>
        <tr>
            <td>Number of Exceedances</td>
            <td>
                <input type="number" name="ftp1-28-val" id="ftp1-28-val" />
            </td>
            <td>
                <input type="number" name="ftp2-28-val" id="ftp2-28-val" />
            </td>
            <td>
                <input type="number" name="ftp3-28-val" id="ftp3-28-val" />
            </td>
            <td>
                <input type="number" name="ftp4-28-val" id="ftp4-28-val" />
            </td>
            <td>
                <input type="number" name="ftp5-28-val" id="ftp5-28-val" />
            </td>
            <td>
                <input type="number" name="ftp6-28-val" id="ftp6-28-val" />
            </td>
            <td>
                <input type="number" name="gtc7-28-val" id="gtc7-28-val" />
            </td>
            <td>
                <input type="number" name="gtc8-28-val" id="gtc8-28-val" />
            </td>
        </tr>
        <tr>
            <td>Average Dust MG/NM3</td>
            <td>
                <input type="number" name="ftp1-29-val" id="ftp1-29-val" />
            </td>
            <td>
                <input type="number" name="ftp2-29-val" id="ftp2-29-val" />
            </td>
            <td>
                <input type="number" name="ftp3-29-val" id="ftp3-29-val" />
            </td>
            <td>
                <input type="number" name="ftp4-29-val" id="ftp4-29-val" />
            </td>
            <td>
                <input type="number" name="ftp5-29-val" id="ftp5-29-val" />
            </td>
            <td>
                <input type="number" name="ftp6-29-val" id="ftp6-29-val" />
            </td>
            <td>
                <input type="number" name="gtc7-29-val" id="gtc7-29-val" />
            </td>
            <td>
                <input type="number" name="gtc8-29-val" id="gtc8-29-val" />
            </td>
        </tr>
        <tr>
            <td>Maximum Dust MG/NM3</td>
            <td>
                <input type="number" name="ftp1-30-val" id="ftp1-30-val" />
            </td>
            <td>
                <input type="number" name="ftp2-30-val" id="ftp2-30-val" />
            </td>
            <td>
                <input type="number" name="ftp3-30-val" id="ftp3-30-val" />
            </td>
            <td>
                <input type="number" name="ftp4-30-val" id="ftp4-30-val" />
            </td>
            <td>
                <input type="number" name="ftp5-30-val" id="ftp5-30-val" />
            </td>
            <td>
                <input type="number" name="ftp6-30-val" id="ftp6-30-val" />
            </td>
            <td>
                <input type="number" name="gtc7-30-val" id="gtc7-30-val" />
            </td>
            <td>
                <input type="number" name="gtc8-30-val" id="gtc8-30-val" />
            </td>
        </tr>
        <tr>
            <td>Reason for HF deviation</td>
            <td colspan="8">
                <textarea
                    name="deviation-txt"
                    id="deviation-txt"
                    placeholder="---Detailed reason for HF deviation(if any)---"
                ></textarea>
            </td>
        </tr>
    </table>

    <div class="section-title">Primary Alumina Stock</div>
    <table>
        <tr>
            <th>Silo</th>
            <th>Silo 1</th>
            <th>Silo 2</th>
            <th>Silo 3</th>
            <th>Silo 4</th>
            <th>Silo 5</th>
            <th>Silo 6</th>
            <th>Silo 7</th>
            <th>Silo 8</th>
        </tr>
        <tr>
            <td>Silo level Pilot #1 (meter)</td>
            <td>
                <input type="number" name="plc2-1-val" id="plc2-1-val" />
            </td>
            <td>
                <input type="number" name="plc2-5-val" id="plc2-5-val" />
            </td>
            <td>
                <input type="number" name="plc3-1-val" id="plc3-1-val" />
            </td>
            <td>
                <input type="number" name="plc3-5-val" id="plc3-5-val" />
            </td>
            <td>
                <input type="number" name="plc4-1-val" id="plc4-1-val" />
            </td>
            <td>
                <input type="number" name="plc6-1-val" id="plc6-1-val" />
            </td>
            <td>
                <input type="number" name="plc5-1-val" id="plc5-1-val" />
            </td>
            <td>
                <input type="number" name="plc7-1-val" id="plc7-1-val" />
            </td>
        </tr>
        <tr>
            <td>Silo level Pilot #2 (meter)</td>
            <td>
                <input type="number" name="plc2-2-val" id="plc2-2-val" />
            </td>
            <td>
                <input type="number" name="plc2-6-val" id="plc2-6-val" />
            </td>
            <td>
                <input type="number" name="plc3-2-val" id="plc3-2-val" />
            </td>
            <td>
                <input type="number" name="plc3-6-val" id="plc3-6-val" />
            </td>
            <td>
                <input type="number" name="plc4-2-val" id="plc4-2-val" />
            </td>
            <td>
                <input type="number" name="plc6-2-val" id="plc6-2-val" />
            </td>
            <td>
                <input type="number" name="plc5-2-val" id="plc5-2-val" />
            </td>
            <td>
                <input type="number" name="plc7-2-val" id="plc7-2-val" />
            </td>
        </tr>
        <tr>
            <td>Silo level Pilot #3 (meter)</td>
            <td>
                <input type="number" name="plc2-3-val" id="plc2-3-val" />
            </td>
            <td>
                <input type="number" name="plc2-7-val" id="plc2-7-val" />
            </td>
            <td>
                <input type="number" name="plc3-3-val" id="plc3-3-val" />
            </td>
            <td>
                <input type="number" name="plc3-7-val" id="plc3-7-val" />
            </td>
            <td>
                <input type="number" name="plc4-3-val" id="plc4-3-val" />
            </td>
            <td>
                <input type="number" name="plc6-3-val" id="plc6-3-val" />
            </td>
            <td>
                <input type="number" name="plc5-3-val" id="plc5-3-val" />
            </td>
            <td>
                <input type="number" name="plc7-3-val" id="plc7-3-val" />
            </td>
        </tr>
        <tr>
            <td>Silo level Pilot #4 (meter)</td>
            <td>
                <input type="number" name="plc2-4-val" id="plc2-4-val" />
            </td>
            <td>
                <input type="number" name="plc2-8-val" id="plc2-8-val" />
            </td>
            <td>
                <input type="number" name="plc3-4-val" id="plc3-4-val" />
            </td>
            <td>
                <input type="number" name="plc3-8-val" id="plc3-8-val" />
            </td>
            <td>
                <input type="number" name="plc4-4-val" id="plc4-4-val" />
            </td>
            <td>
                <input type="number" name="plc6-4-val" id="plc6-4-val" />
            </td>
            <td>
                <input type="number" name="plc5-4-val" id="plc5-4-val" />
            </td>
            <td>
                <input type="number" name="plc7-4-val" id="plc7-4-val" />
            </td>
        </tr>
        <tr>
            <td>Level Pilots average (meter)</td>
            <td>
                <input type="number" name="plc2-9-val" id="plc2-9-val" />
            </td>
            <td>
                <input type="number" name="plc2-11-val" id="plc2-11-val" />
            </td>
            <td>
                <input type="number" name="plc3-9-val" id="plc3-9-val" />
            </td>
            <td>
                <input type="number" name="plc3-11-val" id="plc3-11-val" />
            </td>
            <td>
                <input type="number" name="plc4-5-val" id="plc4-5-val" />
            </td>
            <td>
                <input type="number" name="plc6-5-val" id="plc6-5-val" />
            </td>
            <td>
                <input type="number" name="plc5-5-val" id="plc5-5-val" />
            </td>
            <td>
                <input type="number" name="plc7-5-val" id="plc7-5-val" />
            </td>
        </tr>
        <tr>
            <td>Qty. of Alumina (meter x 415)</td>
            <td>
                <input type="number" name="plc2-10-val" id="plc2-10-val" />
            </td>
            <td>
                <input type="number" name="plc2-12-val" id="plc2-12-val" />
            </td>
            <td>
                <input type="number" name="plc3-10-val" id="plc3-10-val" />
            </td>
            <td>
                <input type="number" name="plc3-12-val" id="plc3-12-val" />
            </td>
            <td>
                <input type="number" name="plc4-6-val" id="plc4-6-val" />
            </td>
            <td>
                <input type="number" name="plc6-6-val" id="plc6-6-val" />
            </td>
            <td>
                <input type="number" name="plc5-6-val" id="plc5-6-val" />
            </td>
            <td>
                <input type="number" name="plc7-6-val" id="plc7-6-val" />
            </td>
        </tr>
        <tr>
            <td>Total Stock of Alumina (in MT)</td>
            <td colspan="8">
                <input
                    max="9999999"
                    type="number"
                    name="total-stock-val"
                    id="total-stock-val"
                />
            </td>
        </tr>
        <tr>
            <td>Stock for Number of Days</td>
            <td colspan="8">
                <input
                    max="999"
                    type="number"
                    name="total-stock-days-val"
                    id="total-stock-days-val"
                />
            </td>
        </tr>
    </table>

    <div class="section-title">FTP Drive Status</div>
    <table>
        <tr>
            <th>FTP/GTC</th>
            <th colspan="2">Hopper Blower</th>
            <th colspan="2">Secondary Air Lift Blower</th>
            <th colspan="2">Secondary Silo Bottom Blower</th>
            <th colspan="2">Primary Air Slide Fan</th>
            <th colspan="2">Secondary Air Slide Fan</th>
        </tr>
        <tr>
            <th>FTP1</th>
            <td>
                <label for="ftp1-B101">B101</label
                ><input type="checkbox" id="ftp1-B101" name="ftp1-B101" />
            </td>
            <td>
                <label for="ftp1-B102">B102</label
                ><input type="checkbox" id="ftp1-B102" name="ftp1-B102" />
            </td>
            <td>
                <label for="ftp1-B103">B103</label
                ><input type="checkbox" id="ftp1-B103" name="ftp1-B103" />
            </td>
            <td>
                <label for="ftp1-B104">B104</label
                ><input type="checkbox" id="ftp1-B104" name="ftp1-B104" />
            </td>
            <td>
                <label for="ftp1-B105">B105</label
                ><input type="checkbox" id="ftp1-B105" name="ftp1-B105" />
            </td>
            <td>
                <label for="ftp1-B106">B106</label
                ><input type="checkbox" id="ftp1-B106" name="ftp1-B106" />
            </td>
            <td>
                <label for="ftp1-F107">F107</label
                ><input type="checkbox" id="ftp1-F107" name="ftp1-F107" />
            </td>
            <td>
                <label for="ftp1-F108">F108</label
                ><input type="checkbox" id="ftp1-F108" name="ftp1-F108" />
            </td>
            <td>
                <label for="ftp1-F109">F109</label
                ><input type="checkbox" id="ftp1-F109" name="ftp1-F109" />
            </td>
            <td>
                <label for="ftp1-F110">F110</label
                ><input type="checkbox" id="ftp1-F110" name="ftp1-F110" />
            </td>
        </tr>
        <tr>
            <th>FTP2</th>
            <td>
                <label for="ftp2-B201">B201</label
                ><input type="checkbox" id="ftp2-B201" name="ftp2-B201" />
            </td>
            <td>
                <label for="ftp2-B202">B202</label
                ><input type="checkbox" id="ftp2-B202" name="ftp2-B202" />
            </td>
            <td>
                <label for="ftp2-B203">B203</label
                ><input type="checkbox" id="ftp2-B203" name="ftp2-B203" />
            </td>
            <td>
                <label for="ftp2-B204">B204</label
                ><input type="checkbox" id="ftp2-B204" name="ftp2-B204" />
            </td>
            <td>
                <label for="ftp2-B205">B205</label
                ><input type="checkbox" id="ftp2-B205" name="ftp2-B205" />
            </td>
            <td>
                <label for="ftp2-B206">B206</label
                ><input type="checkbox" id="ftp2-B206" name="ftp2-B206" />
            </td>
            <td>
                <label for="ftp2-F207">F207</label
                ><input type="checkbox" id="ftp2-F207" name="ftp2-F207" />
            </td>
            <td>
                <label for="ftp2-F208">F208</label
                ><input type="checkbox" id="ftp2-F208" name="ftp2-F208" />
            </td>
            <td>
                <label for="ftp2-F209">F209</label
                ><input type="checkbox" id="ftp2-F209" name="ftp2-F209" />
            </td>
            <td>
                <label for="ftp2-F210">F210</label
                ><input type="checkbox" id="ftp2-F210" name="ftp2-F210" />
            </td>
        </tr>
        <tr>
            <th>FTP3</th>
            <td>
                <label for="ftp3-B301">B301</label
                ><input type="checkbox" id="ftp3-B301" name="ftp3-B301" />
            </td>
            <td>
                <label for="ftp3-B302">B302</label
                ><input type="checkbox" id="ftp3-B302" name="ftp3-B302" />
            </td>
            <td>
                <label for="ftp3-B303">B303</label
                ><input type="checkbox" id="ftp3-B303" name="ftp3-B303" />
            </td>
            <td>
                <label for="ftp3-B304">B304</label
                ><input type="checkbox" id="ftp3-B304" name="ftp3-B304" />
            </td>
            <td>
                <label for="ftp3-B305">B305</label
                ><input type="checkbox" id="ftp3-B305" name="ftp3-B305" />
            </td>
            <td>
                <label for="ftp3-B306">B306</label
                ><input type="checkbox" id="ftp3-B306" name="ftp3-B306" />
            </td>
            <td>
                <label for="ftp3-F307">F307</label
                ><input type="checkbox" id="ftp3-F307" name="ftp3-F307" />
            </td>
            <td>
                <label for="ftp3-F308">F308</label
                ><input type="checkbox" id="ftp3-F308" name="ftp3-F308" />
            </td>
            <td>
                <label for="ftp3-F309">F309</label
                ><input type="checkbox" id="ftp3-F309" name="ftp3-F309" />
            </td>
            <td>
                <label for="ftp3-F310">F310</label
                ><input type="checkbox" id="ftp3-F310" name="ftp3-F310" />
            </td>
        </tr>
        <tr>
            <th>FTP4</th>
            <td>
                <label for="ftp4-B401">B401</label
                ><input type="checkbox" id="ftp4-B401" name="ftp4-B401" />
            </td>
            <td>
                <label for="ftp4-B402">B402</label
                ><input type="checkbox" id="ftp4-B402" name="ftp4-B402" />
            </td>
            <td>
                <label for="ftp4-B403">B403</label
                ><input type="checkbox" id="ftp4-B403" name="ftp4-B403" />
            </td>
            <td>
                <label for="ftp4-B404">B404</label
                ><input type="checkbox" id="ftp4-B404" name="ftp4-B404" />
            </td>
            <td>
                <label for="ftp4-B405">B405</label
                ><input type="checkbox" id="ftp4-B405" name="ftp4-B405" />
            </td>
            <td>
                <label for="ftp4-B406">B406</label
                ><input type="checkbox" id="ftp4-B406" name="ftp4-B406" />
            </td>
            <td>
                <label for="ftp4-F407">F407</label
                ><input type="checkbox" id="ftp4-F407" name="ftp4-F407" />
            </td>
            <td>
                <label for="ftp4-F408">F408</label
                ><input type="checkbox" id="ftp4-F408" name="ftp4-F408" />
            </td>
            <td>
                <label for="ftp4-F409">F409</label
                ><input type="checkbox" id="ftp4-F409" name="ftp4-F409" />
            </td>
            <td>
                <label for="ftp4-F410">F410</label
                ><input type="checkbox" id="ftp4-F410" name="ftp4-F410" />
            </td>
        </tr>
        <tr>
            <th>FTP5</th>
            <td>
                <label for="ftp5-B501">B501</label
                ><input type="checkbox" id="ftp5-B501" name="ftp5-B501" />
            </td>
            <td>
                <label for="ftp5-B502">B502</label
                ><input type="checkbox" id="ftp5-B502" name="ftp5-B502" />
            </td>
            <td>
                <label for="ftp5-B503">B503</label
                ><input type="checkbox" id="ftp5-B503" name="ftp5-B503" />
            </td>
            <td>
                <label for="ftp5-B504">B504</label
                ><input type="checkbox" id="ftp5-B504" name="ftp5-B504" />
            </td>
            <td>
                <label for="ftp5-B505">B505</label
                ><input type="checkbox" id="ftp5-B505" name="ftp5-B505" />
            </td>
            <td>
                <label for="ftp5-B506">B506</label
                ><input type="checkbox" id="ftp5-B506" name="ftp5-B506" />
            </td>
            <td>
                <label for="ftp5-F507">F507</label
                ><input type="checkbox" id="ftp5-F507" name="ftp5-F507" />
            </td>
            <td>
                <label for="ftp5-F508">F508</label
                ><input type="checkbox" id="ftp5-F508" name="ftp5-F508" />
            </td>
            <td>
                <label for="ftp5-F509">F509</label
                ><input type="checkbox" id="ftp5-F509" name="ftp5-F509" />
            </td>
            <td>
                <label for="ftp5-F510">F510</label
                ><input type="checkbox" id="ftp5-F510" name="ftp5-F510" />
            </td>
        </tr>
        <tr>
            <th>FTP6</th>
            <td>
                <label for="ftp6-B601">B601</label
                ><input type="checkbox" id="ftp6-B601" name="ftp6-B601" />
            </td>
            <td>
                <label for="ftp6-B602">B602</label
                ><input type="checkbox" id="ftp6-B602" name="ftp6-B602" />
            </td>
            <td>
                <label for="ftp6-B603">B603</label
                ><input type="checkbox" id="ftp6-B603" name="ftp6-B603" />
            </td>
            <td>
                <label for="ftp6-B604">B604</label
                ><input type="checkbox" id="ftp6-B604" name="ftp6-B604" />
            </td>
            <td>
                <label for="ftp6-B605">B605</label
                ><input type="checkbox" id="ftp6-B605" name="ftp6-B605" />
            </td>
            <td>
                <label for="ftp6-B606">B606</label
                ><input type="checkbox" id="ftp6-B606" name="ftp6-B606" />
            </td>
            <td>
                <label for="ftp6-F607">F607</label
                ><input type="checkbox" id="ftp6-F607" name="ftp6-F607" />
            </td>
            <td>
                <label for="ftp6-F608">F608</label
                ><input type="checkbox" id="ftp6-F608" name="ftp6-F608" />
            </td>
            <td>
                <label for="ftp6-F609">F609</label
                ><input type="checkbox" id="ftp6-F609" name="ftp6-F609" />
            </td>
            <td>
                <label for="ftp6-F610">F610</label
                ><input type="checkbox" id="ftp6-F610" name="ftp6-F610" />
            </td>
        </tr>
        <tr>
            <th>GTC7</th>
            <td>
                <label for="gtc7-B701">B701</label
                ><input type="checkbox" id="gtc7-B701" name="gtc7-B701" />
            </td>
            <td>
                <label for="gtc7-B702">B702</label
                ><input type="checkbox" id="gtc7-B702" name="gtc7-B702" />
            </td>
            <td>
                <label for="gtc7-B703">B703</label
                ><input type="checkbox" id="gtc7-B703" name="gtc7-B703" />
            </td>
            <td>
                <label for="gtc7-B704">B704</label
                ><input type="checkbox" id="gtc7-B704" name="gtc7-B704" />
            </td>
            <td style="background-color: gray"></td>
            <td style="background-color: gray"></td>
            <td>
                <label for="gtc7-F707">F707</label
                ><input type="checkbox" id="gtc7-F707" name="gtc7-F707" />
            </td>
            <td>
                <label for="gtc7-F708">F708</label
                ><input type="checkbox" id="gtc7-F708" name="gtc7-F708" />
            </td>
            <td>
                <label for="gtc7-F709">F709</label
                ><input type="checkbox" id="gtc7-F709" name="gtc7-F709" />
            </td>
            <td>
                <label for="gtc7-F710">F710</label
                ><input type="checkbox" id="gtc7-F710" name="gtc7-F710" />
            </td>
        </tr>
        <tr>
            <th>GTC8</th>
            <td>
                <label for="gtc8-B801">B801</label
                ><input type="checkbox" id="gtc8-B801" name="gtc8-B801" />
            </td>
            <td>
                <label for="gtc8-B802">B802</label
                ><input type="checkbox" id="gtc8-B802" name="gtc8-B802" />
            </td>
            <td>
                <label for="gtc8-B803">B803</label
                ><input type="checkbox" id="gtc8-B803" name="gtc8-B803" />
            </td>
            <td>
                <label for="gtc8-B804">B804</label
                ><input type="checkbox" id="gtc8-B804" name="gtc8-B804" />
            </td>
            <td style="background-color: gray"></td>
            <td style="background-color: gray"></td>
            <td>
                <label for="gtc8-F807">F807</label
                ><input type="checkbox" id="gtc8-F807" name="gtc8-F807" />
            </td>
            <td>
                <label for="gtc8-F808">F808</label
                ><input type="checkbox" id="gtc8-F808" name="gtc8-F808" />
            </td>
            <td>
                <label for="gtc8-F809">F809</label
                ><input type="checkbox" id="gtc8-F809" name="gtc8-F809" />
            </td>
            <td>
                <label for="gtc8-F810">F810</label
                ><input type="checkbox" id="gtc8-F810" name="gtc8-F810" />
            </td>
        </tr>
    </table>
    <div class="section-title">Alumina Handling Drive Status</div>
    <table>
        <tr>
            <th>PLC2</th>
            <td>
                <label for="plc2-av2">AV2 </label
                ><input type="checkbox" id="plc2-av2" name="plc2-av2" />
            </td>
            <td>
                <label for="plc2-av4">AV4 </label
                ><input type="checkbox" id="plc2-av4" name="plc2-av4" />
            </td>
            <td>
                <label for="plc2-av6">AV6 </label
                ><input type="checkbox" id="plc2-av6" name="plc2-av6" />
            </td>
            <td>
                <label for="plc2-as2">AS2 </label
                ><input type="checkbox" id="plc2-as2" name="plc2-as2" />
            </td>
            <td>
                <label for="plc2-as4">AS4 </label
                ><input type="checkbox" id="plc2-as4" name="plc2-as4" />
            </td>
            <td>
                <label for="plc2-as6">AS6 </label
                ><input type="checkbox" id="plc2-as6" name="plc2-as6" />
            </td>
            <td>
                <label for="plc2-an5">AN5 </label
                ><input type="checkbox" id="plc2-an5" name="plc2-an5" />
            </td>
            <td>
                <label for="plc2-an6">AN6 </label
                ><input type="checkbox" id="plc2-an6" name="plc2-an6" />
            </td>
            <td>
                <label for="plc2-an7">AN7 </label
                ><input type="checkbox" id="plc2-an7" name="plc2-an7" />
            </td>
            <td>
                <label for="plc2-an8">AN8 </label
                ><input type="checkbox" id="plc2-an8" name="plc2-an8" />
            </td>
        </tr>
        <tr>
            <th>PLC3</th>
            <td>
                <label for="plc2-av1">AV1 </label
                ><input type="checkbox" id="plc2-av1" name="plc2-av1" />
            </td>
            <td>
                <label for="plc2-av3">AV3 </label
                ><input type="checkbox" id="plc2-av3" name="plc2-av3" />
            </td>
            <td>
                <label for="plc2-av5">AV5 </label
                ><input type="checkbox" id="plc2-av5" name="plc2-av5" />
            </td>
            <td>
                <label for="plc2-as1">AS1 </label
                ><input type="checkbox" id="plc2-as1" name="plc2-as1" />
            </td>
            <td>
                <label for="plc2-as3">AS3 </label
                ><input type="checkbox" id="plc2-as3" name="plc2-as3" />
            </td>
            <td>
                <label for="plc2-as5">AS5 </label
                ><input type="checkbox" id="plc2-as5" name="plc2-as5" />
            </td>
            <td>
                <label for="plc2-an1">AN1 </label
                ><input type="checkbox" id="plc2-an1" name="plc2-an1" />
            </td>
            <td>
                <label for="plc2-an2">AN2 </label
                ><input type="checkbox" id="plc2-an2" name="plc2-an2" />
            </td>
            <td>
                <label for="plc2-an3">AN3 </label
                ><input type="checkbox" id="plc2-an3" name="plc2-an3" />
            </td>
            <td>
                <label for="plc2-an4">AN4 </label
                ><input type="checkbox" id="plc2-an4" name="plc2-an4" />
            </td>
        </tr>
        <tr>
            <th>SILO5</th>
            <td>
                <label for="plc4-BLR5-1">BLR5.1 </label
                ><input type="checkbox" id="plc4-BLR5-1" name="plc4-BLR5-1" />
            </td>
            <td>
                <label for="plc4-BLR5-2">BLR5.2 </label
                ><input type="checkbox" id="plc4-BLR5-2" name="plc4-BLR5-2" />
            </td>
            <td>
                <label for="plc4-BLT5-1">BLT5.1 </label
                ><input type="checkbox" id="plc4-BLT5-1" name="plc4-BLT5-1" />
            </td>
            <td>
                <label for="plc4-BLT5-2">BLT5.2 </label
                ><input type="checkbox" id="plc4-BLT5-2" name="plc4-BLT5-2" />
            </td>
            <td>
                <label for="plc4-BLB5-1">BLB5.1 </label
                ><input type="checkbox" id="plc4-BLB5-1" name="plc4-BLB5-1" />
            </td>
            <td>
                <label for="plc4-BLB5-2">BLB5.2 </label
                ><input type="checkbox" id="plc4-BLB5-2" name="plc4-BLB5-2" />
            </td>
            <td>
                <label for="plc4-BLA5-1">BLA5.1 </label
                ><input type="checkbox" id="plc4-BLA5-1" name="plc4-BLA5-1" />
            </td>
            <td>
                <label for="plc4-BLA5-2">BLA5.2 </label
                ><input type="checkbox" id="plc4-BLA5-2" name="plc4-BLA5-2" />
            </td>
            <td>
                <label for="plc4-BLF5-1">BLF5.1 </label
                ><input type="checkbox" id="plc4-BLF5-1" name="plc4-BLF5-1" />
            </td>
            <td>
                <label for="plc4-BLF5-2">BLF5.2 </label
                ><input type="checkbox" id="plc4-BLF5-2" name="plc4-BLF5-2" />
            </td>
        </tr>
        <tr>
            <th>SILO7</th>
            <td>
                <label for="plc4-BLR7-1">BLR7.1 </label
                ><input type="checkbox" id="plc4-BLR7-1" name="plc4-BLR7-1" />
            </td>
            <td>
                <label for="plc4-BLR7-2">BLR7.2 </label
                ><input type="checkbox" id="plc4-BLR7-2" name="plc4-BLR7-2" />
            </td>
            <td>
                <label for="plc4-BLT7-1">BLT7.1 </label
                ><input type="checkbox" id="plc4-BLT7-1" name="plc4-BLT7-1" />
            </td>
            <td>
                <label for="plc4-BLT7-2">BLT7.2 </label
                ><input type="checkbox" id="plc4-BLT7-2" name="plc4-BLT7-2" />
            </td>
            <td>
                <label for="plc4-BLB7-1">BLB7.1 </label
                ><input type="checkbox" id="plc4-BLB7-1" name="plc4-BLB7-1" />
            </td>
            <td>
                <label for="plc4-BLB7-2">BLB7.2 </label
                ><input type="checkbox" id="plc4-BLB7-2" name="plc4-BLB7-2" />
            </td>
            <td>
                <label for="plc4-BLA7-1">BLA7.1 </label
                ><input type="checkbox" id="plc4-BLA7-1" name="plc4-BLA7-1" />
            </td>
            <td>
                <label for="plc4-BLA7-2">BLA7.2 </label
                ><input type="checkbox" id="plc4-BLA7-2" name="plc4-BLA7-2" />
            </td>
            <td>
                <label for="plc4-BLF7-1">BLF7.1 </label
                ><input type="checkbox" id="plc4-BLF7-1" name="plc4-BLF7-1" />
            </td>
            <td>
                <label for="plc4-BLF7-2">BLF7.2 </label
                ><input type="checkbox" id="plc4-BLF7-2" name="plc4-BLF7-2" />
            </td>
        </tr>
        <tr>
            <th>SILO6</th>
            <td>
                <label for="plc6-FN6109">FN6109 </label
                ><input type="checkbox" id="plc6-FN6109" name="plc6-FN6109" />
            </td>
            <td>
                <label for="plc6-FN6110">FN6110 </label
                ><input type="checkbox" id="plc6-FN6110" name="plc6-FN6110" />
            </td>
            <td>
                <label for="plc6-FN6113">FN6113 </label
                ><input type="checkbox" id="plc6-FN6113" name="plc6-FN6113" />
            </td>
            <td>
                <label for="plc6-FN6114">FN6114 </label
                ><input type="checkbox" id="plc6-FN6114" name="plc6-FN6114" />
            </td>
            <td>
                <label for="plc6-BL6103">BL6103 </label
                ><input type="checkbox" id="plc6-BL6103" name="plc6-BL6103" />
            </td>
            <td>
                <label for="plc6-BL6104">BL6104 </label
                ><input type="checkbox" id="plc6-BL6104" name="plc6-BL6104" />
            </td>
            <td>
                <label for="plc6-BL6107">BL6107 </label
                ><input type="checkbox" id="plc6-BL6107" name="plc6-BL6107" />
            </td>
            <td>
                <label for="plc6-BL6108">BL6108 </label
                ><input type="checkbox" id="plc6-BL6108" name="plc6-BL6108" />
            </td>
            <td>
                <label for="plc6-BL6115">BL6115 </label
                ><input type="checkbox" id="plc6-BL6115" name="plc6-BL6115" />
            </td>
            <td>
                <label for="plc6-BL6116">BL6116 </label
                ><input type="checkbox" id="plc6-BL6116" name="plc6-BL6116" />
            </td>
        </tr>
        <tr>
            <th>SILO8</th>
            <td>
                <label for="plc7-FN8125">FN8125 </label
                ><input type="checkbox" id="plc7-FN8125" name="plc7-FN8125" />
            </td>
            <td>
                <label for="plc7-FN8126">FN8126 </label
                ><input type="checkbox" id="plc7-FN8126" name="plc7-FN8126" />
            </td>
            <td>
                <label for="plc7-FN8129">FN8129 </label
                ><input type="checkbox" id="plc7-FN8129" name="plc7-FN8129" />
            </td>
            <td>
                <label for="plc7-FN8130">FN8130 </label
                ><input type="checkbox" id="plc7-FN8130" name="plc7-FN8130" />
            </td>
            <td>
                <label for="plc7-BL8119">BL8119 </label
                ><input type="checkbox" id="plc7-BL8119" name="plc7-BL8119" />
            </td>
            <td>
                <label for="plc7-BL8120">BL8120 </label
                ><input type="checkbox" id="plc7-BL8120" name="plc7-BL8120" />
            </td>
            <td>
                <label for="plc7-BL8123">BL8123 </label
                ><input type="checkbox" id="plc7-BL8123" name="plc7-BL8123" />
            </td>
            <td>
                <label for="plc7-BL8124">BL8124 </label
                ><input type="checkbox" id="plc7-BL8124" name="plc7-BL8124" />
            </td>
            <td>
                <label for="plc7-BL8131">BL8131 </label
                ><input type="checkbox" id="plc7-BL8131" name="plc7-BL8131" />
            </td>
            <td>
                <label for="plc7-BL8132">BL8132 </label
                ><input type="checkbox" id="plc7-BL8132" name="plc7-BL8132" />
            </td>
        </tr>
    </table>
    <div class="section-title">HDPS Drive & Bubble Pressure STATUS</div>
    <table>
        <tr>
            <th>GTC</th>
            <th>DRIVE</th>
            <th>kPa</th>
            <th>DRIVE</th>
            <th>kPa</th>
            <th>DRIVE</th>
            <th>kPa</th>
            <th>DRIVE</th>
            <th>kPa</th>
            <th colspan="2">DRIVE STATUS</th>
        </tr>
        <tr>
            <td rowspan="2">GTC7</td>
            <td>AV 701</td>
            <td>
                <input type="number" name="hdps1-av701" id="hdps1-av701" />
            </td>
            <td>AV 702</td>
            <td>
                <input type="number" name="hdps1-av702" id="hdps1-av702" />
            </td>
            <td>AV 703</td>
            <td>
                <input type="number" name="hdps1-av703" id="hdps1-av703" />
            </td>
            <td>AV 704</td>
            <td>
                <input type="number" name="hdps1-av704" id="hdps1-av704" />
            </td>
            <td rowspan="2">
                <label for="hdps1-av751">AV751 </label
                ><input type="checkbox" id="hdps1-av751" name="hdps1-av751" />
            </td>
            <td rowspan="2">
                <label for="hdps1-av752">AV752 </label
                ><input type="checkbox" id="hdps1-av752" name="hdps1-av752" />
            </td>
        </tr>
        <tr>
            <td>PIT 710</td>
            <td>
                <input type="number" name="hdps1-pit710" id="hdps1-pit710" />
            </td>
            <td>PIT 711</td>
            <td>
                <input type="number" name="hdps1-pit711" id="hdps1-pit711" />
            </td>
            <td>PIT 720</td>
            <td>
                <input type="number" name="hdps1-pit720" id="hdps1-pit720" />
            </td>
            <td>PIT 721</td>
            <td>
                <input type="number" name="hdps1-pit721" id="hdps1-pit721" />
            </td>
        </tr>
        <tr>
            <td rowspan="2">GTC8</td>
            <td>AV 801</td>
            <td>
                <input type="number" name="hdps2-av801" id="hdps2-av801" />
            </td>
            <td>AV 802</td>
            <td>
                <input type="number" name="hdps2-av802" id="hdps2-av802" />
            </td>
            <td>AV 803</td>
            <td>
                <input type="number" name="hdps2-av803" id="hdps2-av803" />
            </td>
            <td>AV 804</td>
            <td>
                <input type="number" name="hdps2-av804" id="hdps2-av804" />
            </td>
            <td rowspan="2">
                <label for="hdps2-av851">AV851 </label
                ><input type="checkbox" id="hdps2-av851" name="hdps2-av851" />
            </td>
            <td rowspan="2">
                <label for="hdps2-av852">AV852 </label
                ><input type="checkbox" id="hdps2-av852" name="hdps2-av852" />
            </td>
        </tr>
        <tr>
            <td>PIT 810</td>
            <td>
                <input type="number" name="hdps2-pit810" id="hdps2-pit810" />
            </td>
            <td>PIT 811</td>
            <td>
                <input type="number" name="hdps2-pit811" id="hdps2-pit811" />
            </td>
            <td>PIT 820</td>
            <td>
                <input type="number" name="hdps2-pit820" id="hdps2-pit820" />
            </td>
            <td>PIT 821</td>
            <td>
                <input type="number" name="hdps2-pit821" id="hdps2-pit821" />
            </td>
        </tr>
    </table>
    <div class="section-title">De-Dusting Unit Status</div>
    <table>
        <tr>
            <th>SILO 1</th>
            <td>AV 23</td>
            <td>
                <label for="plc2-av23-R">R</label
                ><input
                    type="radio"
                    id="plc2-av23-R"
                    name="plc2-av23-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc2-av23-NR">NR</label
                ><input
                    type="radio"
                    id="plc2-av23-NR"
                    name="plc2-av23-R"
                    value="false"
                />
            </td>

            <th>SILO 5</th>
            <td>DU 11</td>
            <td>
                <label for="plc4-du11-R">R</label
                ><input
                    type="radio"
                    id="plc4-du11-R"
                    name="plc4-du11-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc4-du11-NR">NR</label
                ><input
                    type="radio"
                    id="plc4-du11-NR"
                    name="plc4-du11-R"
                    value="false"
                />
            </td>

            <td>DU 41</td>
            <td>
                <label for="plc4-du41-R">R</label
                ><input
                    type="radio"
                    id="plc4-du41-R"
                    name="plc4-du41-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc4-du41-NR">NR</label
                ><input
                    type="radio"
                    id="plc4-du41-NR"
                    name="plc4-du41-R"
                    value="false"
                />
            </td>
        </tr>
        <tr>
            <th>SILO 2</th>
            <td>AV 22</td>
            <td>
                <label for="plc2-av22-R">R</label
                ><input
                    type="radio"
                    id="plc2-av22-R"
                    name="plc2-av22-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc2-av22-NR">NR</label
                ><input
                    type="radio"
                    id="plc2-av22-NR"
                    name="plc2-av22-R"
                    value="false"
                />
            </td>

            <th>SILO 7</th>
            <td>DU 29</td>
            <td>
                <label for="plc5-du29-R">R</label
                ><input
                    type="radio"
                    id="plc5-du29-R"
                    name="plc5-du29-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc5-du29-NR">NR</label
                ><input
                    type="radio"
                    id="plc5-du29-NR"
                    name="plc5-du29-R"
                    value="false"
                />
            </td>

            <td>DU 42</td>
            <td>
                <label for="plc5-du42-R">R</label
                ><input
                    type="radio"
                    id="plc5-du42-R"
                    name="plc5-du42-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc5-du42-NR">NR</label
                ><input
                    type="radio"
                    id="plc5-du42-NR"
                    name="plc5-du42-R"
                    value="false"
                />
            </td>
        </tr>
        <tr>
            <th>SILO 3</th>
            <td>AV 21</td>
            <td>
                <label for="plc3-av21-R">R</label
                ><input
                    type="radio"
                    id="plc3-av21-R"
                    name="plc3-av21-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc3-av21-NR">NR</label
                ><input
                    type="radio"
                    id="plc3-av21-NR"
                    name="plc3-av21-R"
                    value="false"
                />
            </td>

            <th>SILO 6</th>
            <td>DU 261</td>
            <td>
                <label for="plc6-du261A">A </label
                ><input type="checkbox" id="plc6-du261A" name="plc6-du261A" />
            </td>
            <td>
                <label for="plc6-du261B">B </label
                ><input type="checkbox" id="plc6-du261B" name="plc6-du261B" />
            </td>

            <td>DU 291</td>
            <td>
                <label for="plc6-du291A">A </label
                ><input type="checkbox" id="plc6-du291A" name="plc6-du291A" />
            </td>
            <td>
                <label for="plc6-du291B">B </label
                ><input type="checkbox" id="plc6-du291B" name="plc6-du291B" />
            </td>
        </tr>
        <tr>
            <th>SILO 4</th>
            <td>AV 20</td>
            <td>
                <label for="plc3-av20-R">R</label
                ><input
                    type="radio"
                    id="plc3-av20-R"
                    name="plc3-av20-R"
                    value="true"
                />
            </td>
            <td>
                <label for="plc3-av20-NR">NR</label
                ><input
                    type="radio"
                    id="plc3-av20-NR"
                    name="plc3-av20-R"
                    value="false"
                />
            </td>

            <th>SILO 8</th>
            <td>DU 279</td>
            <td>
                <label for="plc7-du279A">A </label
                ><input type="checkbox" id="plc7-du279A" name="plc7-du279A" />
            </td>
            <td>
                <label for="plc7-du279B">B </label
                ><input type="checkbox" id="plc7-du279B" name="plc7-du279B" />
            </td>

            <td>DU 292</td>
            <td>
                <label for="plc7-du292A">A </label
                ><input type="checkbox" id="plc7-du292A" name="plc7-du292A" />
            </td>
            <td>
                <label for="plc7-du292B">B </label
                ><input type="checkbox" id="plc7-du292B" name="plc7-du292B" />
            </td>
        </tr>
    </table>

    <div class="footer" style="border-top: 1px double black">
        <p>Shift End Report | FTP and Alumina Handling System</p>
    </div>
</form>
