.change-pass,
.change-pass-heading {
    margin: 20px auto;
}

.change-pass-heading {
    text-decoration: underline;
}

.change-pass > div {
    margin: 30px 0;
}

.change-pass > div > input:not([type="checkbox"]) {
    display: block;
}
