.container {
    margin: 20px auto;
    width: 500px;
}

.container > h1,
.container > div {
    text-align: center;
    padding: 20px;
}

.container > div {
    font-size: 80px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}
