.emp-prefilled {
    margin: 20px auto;
}

.emp-prefilled > h3,
.emp-details > h3 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

.emp-details {
    margin: 30px auto;
}

.emp-details label,
.emp-details input,
.emp-details textarea {
    display: block;
}
.emp-details textarea {
    resize: none;
}

.emp-details label {
    margin-top: 20px;
}

.emp-details input {
    margin-bottom: 30px;
    width: 100%;
}
