h1 {
    padding: 10px 0;
    text-decoration: underline;
    font-style: italic;
}

.mini-sch-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}

.dept-name,
.shift-name,
.col-row > th {
    text-align: center;
    background-color: #bdcebe;
    font-style: italic;
}

.data-row > td {
    text-align: left;
    font-size: 14px;
}

.dept-name {
    background-color: #eca1a6;
}
/* .mini-sch-table tr:nth-child(odd) {
    background-color: #dddddd;
} */
