h1 {
    padding: 10px 0;
    text-decoration: underline;
    font-style: italic;
}

.mini-sch-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
}

.dept-name,
.shift-name,
.col-row > th {
    text-align: center;
    background-color: #bdcebe;
    font-style: italic;
}

.data-row > td {
    text-align: left;
    font-size: 14px;
}

.dept-name {
    background-color: #eca1a6;
}

.dept-selector {
    display: flex;
    position: fixed;
    top: 150px;
    right: 0;
    width: 90px;
    flex-direction: column;
}

.dept-selector > .mech {
    background: #005792;
}
.dept-selector > .elec {
    background: #00bbf0;
}
.dept-selector > .ci {
    background: #fdb44b;
}
.dept-selector > [class^="plo"] {
    background: #c94c4c;
}
.dept-selector > .ftp {
    background: #f7786b;
}
.dept-selector > .transport {
    background: #eea29a;
}
.dept-selector > .all {
    background: #d9ad7c;
}

.dept-selector > div > a {
    color: white;
    font-size: 14px;
}
.dept-selector > div > a:hover {
    color: black;
    font-size: 16px;
}
/* .dept-selector > div > a:visited {
    color: black;
    font-size: 14px;
} */
.dept-selector > div {
    padding: 5px 0px 5px 10px;
    border-radius: 50% 0 0 50%;
}
