.sidebar-content {
    position: relative;
    width: 200px;
    flex: 0 0 auto;
}

.sidebar {
    display: flex; /* this flex will be used for handling multiple sections in sidebar */
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #eaece5;
}

.sidebar-item {
    padding: 5px;
    list-style-type: '👉';
}

.sidebar-item:hover, .sidebar-item a:hover {
    font-weight: 900;
    text-decoration: underline;
}

.sidebar-item a {
    color: black;
}

.sidebar-section {
    padding: 20px;
}