.user-section form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 20px 0;
}
.user-section form .div-inside-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-section form select {
    margin-right: 20px;
    width: 300px;
    font-size: 1rem;
}
textarea {
    width: 300px;
    font-size: 1rem;
}

.user-section {
    padding: 50px 0;
}

.usermanagement-form-headings {
    text-align: center;
    text-decoration: underline;
}